.main-container {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #f8f9fa;
  min-height: 100vh;
  overflow-y: auto;
}

.nav-bar {
  background-color: #457b9d;
}
